@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

body{
	font-family: "Spline Sans Mono", monospace;
	margin: 0;
	background: white;
	background: linear-gradient(135deg, rgb(220,220,220) 0%, white 40%, rgb(220,220,220) 100%);
}

h1,h2,h3{
	color: rgb(245,123,32);
	font-family: "Chivo Mono", monospace;
}

a{
	transition: all 0.25s;
}

a:link{
	color: rgb(245,123,32);
}
a:visited{
	color: rgb(245,123,32);
}
a:hover{
	color: rgb(255,140,50);
}
a:active{
	color: rgb(220,105,15);
}

header{
	text-align: center;
	color: rgb(245,123,32);
	padding: 10px;

}


nav{
	background-color: #151515;
	background: linear-gradient(90deg, black 0%, #151515 50%, black 100%);
	padding: 5px;
}

nav a{
	text-decoration:none;
}

nav a:link{
	color: #FFFFFF;
}

nav a:visited{
	color: #FFFFFF;
}

nav a:hover{
	color: rgb(245,123,32);
}

nav a:active{
	color: rgb(220,105,15);
}

nav ul{
	list-style-type: none;
	text-align: center;
	margin: 8px 0;
	padding: 0;
}

nav li{
	display: inline;
	padding: 5px;
}

.logo {
	max-width: 300px;
	margin:0 auto;
	display:block;
}

.home-hero{
	background-image: url(images/hero.jpg);
	height: 400px;
	background-size: cover;
}

.home-hero h1 {
	text-align: center;
	padding: 160px 0;
	margin: 0;
	color: white;
	text-shadow: 5px 5px 5px black;
}


.home-photo {
	height: auto;
	max-width: 80%;
}

div a img{
	transition: opacity 0.5s;
}

div a img:hover{
	opacity: 80%;
	border-bottom: rgb(255,140,50) 5px solid;
	transform: scale(1.03);
}


main{
	max-width: 800px;
    min-height: 80vh;
	margin: 0px auto;
	color: black;
}

main.resume{
	margin-top: 15px;
	max-width: 600px;
}

main.portfolio{
	max-width: 1000px;
}

main div.row{
	margin-bottom: 30px;
}

footer{
	border-top: black 3px solid;
	text-align: center;
	background-color: #151515;
	background: linear-gradient(90deg, black 0%, #151515 50%, black 100%);
	color: rgb(245,123,32);
}
footer p{
	margin: auto 0;
	color: white;
}

footer div.container-fluid{
	padding: 15px;
	max-width: 1000px;
	text-align: left;
}

footer ul{
	list-style-type: none;
	padding: 0;
}
footer li{
	margin: 10px 0;
}

footer .fa {
	font-size: 1.1em;
}


footer small{
	color: rgb(245,123,32);
	text-align: center;
	display: block;
	padding: 15px;
	width: 100%;
	background: black;
}


.center{
	text-align: center;
}


.gallery .preview{
    width: 100%;
    height: auto;
	
}

.gallery .gallery-thumbnails img {
	transition: opacity 1s;
    width: 100px;
    height: 75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: 0.8;
	border-bottom: rgb(255,140,50) 3px solid;
	transform: scale(1.05);
    cursor: pointer;
}

.gallery .preview img#preview {
    max-width: 100%;
    height: auto;
    margin: 10px auto !important;
    display: block !important;
	border: 15px solid white;
	box-shadow: 5px 5px 5px black;
}


/* Adjustments for Tablets */
@media only screen and (max-width: 1024px)
{
	h1{
		font-size: 1.8em;
	}
	
}

/* Adjustments for Phones */
@media only screen and (max-width: 768px)
{
	h1{
		font-size: 1.5em;
	}
}